# Excluye carpetas de MCUXpresso Workspace
*.metadata
*.mcuxpressoide_packages_support
*.launch

# Excluye carpeta FreeRTOS_TAD_logs
/FreeRTOS_TAD_logs/

# Excluye carpeta temporal Debug/Release
/KL02Z_AccelerometerMMA8451_JJSDC/Debug/
/KL02Z_AccelerometerMMA8451_JJSDC/Release/
/KL02Z_AccelerometerMMA8451_JJSDC/doc/